/* Configurable: These are the styles that change when you switch stylesheets == These are the custom.css settings */

/*Styles below are using the Stark settings.  Edit and add new styles as desired.  Additional styles will override core */

body{background: none #fff;}
#primary-nav{background:#555;}
#footer {background:#555;}
#content{border-color: #ccc;border-width: 1px}

#site-title, #content{
opacity:1; 
filter: alpha(opacity = 100);
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none; 
-webkit-border-radius: none;
-moz-border-radius: none;
border-radius: none; }